{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area">
  <!-- Welcome Slides -->
  <div class="welcome-slides owl-carousel">
    <!-- Single Welcome Slide -->
    <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax"
      style="background-image: url({% static 'website/img/bg-img/slider1.jpg' %});">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <!-- Welcome Text -->
            <div class="welcome-text text-center">
              <h2 data-animation="fadeInUp" data-delay="100ms">Welcome to JanAushadhi</h2>
              <p data-animation="fadeInUp" data-delay="300ms">Janaushadhi provides high-quality generic medicines
                as affordable alternatives to expensive branded medications, making healthcare accessible for all.</p>
              <div class="welcome-btn-group">
                <a href="#" class="btn dento-btn mx-2" data-animation="fadeInUp" data-delay="500ms">Get Started</a>
                <a href="{% url 'contact' %}" class="btn dento-btn mx-2 active" data-animation="fadeInUp"
                  data-delay="700ms">Contact
                  Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Welcome Slide -->
    <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax"
      style="background-image: url({% static 'website/img/bg-img/slider2.png' %});">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <!-- Welcome Text -->
            <div class="welcome-text text-center">
              <h2 data-animation="fadeInDown" data-delay="100ms">Generic Solutions for Better Health</h2>
              <p data-animation="fadeInDown" data-delay="300ms">Our mission is to provide high-quality generic medicine
                alternatives to costly branded medications, ensuring that you receive the best care without the
                financial burden.</p>
              <div class="welcome-btn-group">
                <a href="#" class="btn dento-btn mx-2" data-animation="fadeInDown" data-delay="500ms">Get Started</a>
                <a href="{% url 'contact' %}" class="btn dento-btn mx-2 active" data-animation="fadeInDown"
                  data-delay="700ms">Contact
                  Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Welcome Area End ***** -->

<!-- ****** Ministry and Scheme Area Start ******* -->
<section class="dento-about-us-area section-padding-100-0">
  <div class="container">
    <div class="section-heading">
      <h2>Ministry of Chemicals and Fertilizers</h2>
      <div class="line"></div>
    </div>
    <div class="row align-items-center">
      <!-- Ministry Thumbnail -->
      <div class="col-12 col-md-6">
        <div class="about-us-thumbnail mb-50">
          <img src="{% static 'website/img/bg-img/ministry.png' %}" alt="">
        </div>
      </div>
      <!-- Ministry Content -->
      <div class="col-12 col-md-6">
        <div class="about-us-content mb-50">
          <!-- Section Heading -->
          <!-- <div class="section-heading">
            <h2>About Us</h2>
            <div class="line"></div>
          </div> -->
          <p>The Department of Chemicals and Petrochemicals was under the Ministry of Industry until December 1989, when
            it was brought under the Ministry of Petroleum and Chemicals. On June 5, 1991, Department of Chemicals
            and Petrochemicals was transferred to the Ministry of Chemicals and Fertilizers.
            <br>
            The department has various divisions under it. The important being:
          </p>

          <!-- Single Skills Area -->
          <div class="single-skills-area mt-30">
            <h6>Chemical Division</h6>
            <div id="bar1" class="barfiller">
              <span class="tip"></span>
              <span class="fill" data-percentage="85"></span>
            </div>
          </div>

          <!-- Single Skills Area -->
          <div class="single-skills-area mt-30">
            <h6>Petrochemicals Division</h6>
            <div id="bar2" class="barfiller">
              <span class="tip"></span>
              <span class="fill" data-percentage="65"></span>
            </div>
          </div>

          <!-- Single Skills Area -->
          <div class="single-skills-area mt-30">
            <h6>Monitoring and Evaluation Division (M&E Division)</h6>
            <div id="bar3" class="barfiller">
              <span class="tip"></span>
              <span class="fill" data-percentage="80"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="dento-about-us-area section-padding-90-30">
  <div class="container">
    <div class="section-heading">
      <h2>Pradhan Mantri Bhartiya JanAushadhi Pariyojana</h2>
      <div class="line"></div>
    </div>
    <div class="row align-items-center">
      <!-- Scheme Content -->
      <div class="col-12 col-md-6">
        <div class="about-us-content mb-50">
          <p>
            Pradhan Mantri Bhartiya Janaushadhi Pariyojana was launched by the Department of Pharmaceuticals, in
            November 2008. Under the scheme, dedicated outlets known as Janaushadhi Kendras are opened to make quality
            generic medicines available to all at affordable prices.
            <br>
          </p>
        </div>
      </div>
      <!-- Scheme Thumbnail -->
      <div class="col-12 col-md-6">
        <div class="about-us-thumbnail mb-50">
          <img src="{% static 'website/img/bg-img/yojana1.jpg' %}" alt="" style="width: 350px; height: auto;">
        </div>
      </div>
    </div>
  </div>

  <style>
    .row {
      display: flex;
      flex-wrap: wrap;
    }

    .col-12.col-md-6 {
      flex: 1;
    }

    .about-us-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .about-us-thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .about-us-thumbnail img {
      max-width: 100%;
      height: auto;
    }
  </style>
</section>

<!-- ****** Ministry and Scheme Area End ****** -->


<!-- ***** About Us Area ***** -->
<section class="dentist-area section-padding-90-0">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading">
          <h2>About Us</h2>
          <div class="line"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- About Us Area -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single-dentist-area mb-100">
          <img src="{% static 'website/img/bg-img/about1.jpg' %}" alt="">
          <!-- About Content -->
          <div class="dentist-content">
            <!-- Social Info -->
            <div class="dentist-social-info">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
            <!-- Person Info -->
            <div class="dentist-info bg-gradient-overlay">
              <h5>Mangesh Pangam</h5>
              <p>Frontend Developer</p>
            </div>
          </div>
        </div>
      </div>

      <!-- About Us Area -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single-dentist-area mb-100">
          <img src="{% static 'website/img/bg-img/about2.jpg' %}" alt="">
          <!-- About Content -->
          <div class="dentist-content">
            <!-- Social Info -->
            <div class="dentist-social-info">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
            <!-- Person Info -->
            <div class="dentist-info bg-gradient-overlay">
              <h5>Rakshita Sarap</h5>
              <p>Research and Development Head</p>
            </div>
          </div>
        </div>
      </div>

      <!-- About Us Area -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single-dentist-area mb-100">
          <img src="{% static 'website/img/bg-img/about3.jpg' %}" alt="">
          <!-- About Content -->
          <div class="dentist-content">
            <!-- Social Info -->
            <div class="dentist-social-info">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
            <!-- Person Info -->
            <div class="dentist-info bg-gradient-overlay">
              <h5>Saish Rane</h5>
              <p>Backend Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="dentist-area section-padding-70-0">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading">
          <h2>Problem Statement</h2>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <h6 style="font-weight: normal;">
      The high cost of branded medications remains a significant barrier to healthcare access, leading to financial
      strain and health disparities. To address this issue, the Janaushadhi portal aims to enhance accessibility and
      affordability by recommending high-quality generic alternatives to expensive branded drugs. By developing a
      robust recommendation system that matches branded medicines with their cost-effective generic counterparts based
      on active pharmaceutical ingredients, and by providing users with a user-friendly interface and educational
      resources, the portal seeks to increase awareness, improve medication adherence, and ultimately reduce patient
      expenditures. This initiative will ensure that patients have access to affordable, reliable, and effective
      treatments, promoting equity in healthcare and alleviating financial burdens.
    </h6>
  </div>
</section>
<br>
<br>
<!-- ***** About Us Area End ***** -->
{% endblock %}