<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description"
    content="JanAushadhi-Portal offers comprehensive information on generic medicines and their availability. Access medical templates and resources easily.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Janaushadhi Hub</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'website/img/core-img/favicon2.png' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'website/style.css' %}">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <!-- Top Header End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="dentoNav">

            <!-- Logo -->
            <a class="nav-brand" href="{% url 'home' %}">
              <img src="{% static 'website/img/core-img/janlogo.png' %}" alt="" style="width: 155px; height: auto;">
            </a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <!-- <li><a href="#">Pages</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'home' %}">- Home</a></li>
                      <li><a href="{% url 'about' %}">- About Us</a></li>
                      <li><a href="{% url 'service' %}">- Service</a></li>
                      <li><a href="{% url 'pricing' %}">- Pricing</a></li>
                      <li><a href="{% url 'blog' %}">- Blog</a></li>
                      <li><a href="{% url 'blog_details' %}">- Blog Details</a></li>
                      <li><a href="{% url 'contact' %}">- Contact</a></li>
                      <li><a href="#">- Dropdown</a>
                        <ul class="dropdown">
                          <li><a href="#">- Dropdown Item</a></li>
                          <li><a href="#">- Dropdown Item</a>
                            <ul class="dropdown">
                              <li><a href="#">- Even Dropdown</a></li>
                              <li><a href="#">- Even Dropdown</a></li>
                              <li><a href="#">- Even Dropdown</a></li>
                              <li><a href="#">- Even Dropdown</a></li>
                            </ul>
                          </li>
                          <li><a href="#">- Dropdown Item</a></li>
                          <li><a href="#">- Dropdown Item</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li> -->
                  <!-- <li><a href="#">About Us</a></li> -->
                  <li><a href="{% url 'catalogue' %}">Generic Medicine Catalogue</a></li>
                  <li><a href="{% url 'genstores' %}">Generic Stores Near Me</a></li>
                  <!-- <li><a href="{% url 'service' %}">Service</a></li>
                  <li><a href="{% url 'pricing' %}">Pricing</a></li> -->
                  <!-- <li><a href="#">Blog</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'blog' %}">- Blog</a></li>
                      <li><a href="{% url 'blog_details' %}">- Blog Details</a></li>
                    </ul>
                  </li> -->
                  <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
              </div>
              <!-- Nav End -->
            </div>

            <!-- Booking Now Button -->
            <a href="http://localhost:8501" class="btn dento-btn booking-btn">Recommend Medicines</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Page Translate Start ***** -->
  <div id="google_element"></div>
  <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
  <!-- <script>
    function loadGoogleTranslate() {
      new google.translate.TranslateElement('google_element');
    }
  </script> -->
  <div id="google_translate_element" style="
  position: fixed; 
  top: 0; 
  right: 0; 
  margin: 10px;
  padding-top: 10px; 
  z-index: 9999;"></div>
  <style>
    /* Responsive adjustments */
    @media (max-width: 767px) {
      #google_translate_element {
        width: 150px;
        top: 5px;
        right: 5px;
      }
    }

    @media (max-width: 480px) {
      #google_translate_element {
        width: 120px;
        top: 0;
        right: 0;
        padding: 5px;
      }
    }
  </style>
  <script src=" https://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate">
  </script>

  <script>
    function loadGoogleTranslate() {
      new google.translate.TranslateElement('google_translate_element');
    }
  </script>
  <!-- ***** Page Translate End ***** -->

  {% block content %}
  {% endblock %}


  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area bg-img bg-gradient-overlay"
    style="background-image: url('{% static 'website/img/bg-img/footer.jpg' %}');">
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget">
            <a href="{% url 'home' %}" class="d-block mb-4"><img
                src="{% static 'website/img/core-img/janlogofooter.png' %}" alt=""></a>
            <p>Our mission is to provide high-quality generic medicine alternatives to costly branded
              medications, ensuring that you receive the best care without the financial burden.</p>
            <!-- <div class="footer-contact">
              <p><i class="icon_pin"></i> 28 Jackson Street, Chicago, 7788569 USA</p>
              <p><i class="icon_phone"></i> +84. 2252. 2250. 122</p>
              <p><i class="icon_mail"></i> info.dento@gmail.com</p>
            </div> -->
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Contact Us</h5>

            <!-- Contact Us -->
            <ul class="opening-hours">
              <li>Xavier Institute of Engineering, Mahim, Mumbai</li>
              <li>+91 9876543210</li>
              <li>janaushadhi@gmail.com</li>
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Quick Link</h5>

            <!-- Quick Links Nav -->
            <nav>
              <ul class="quick-links">
                <li><a href="#">About Our Website</a></li>
                <li><a href="{% url 'genstores' %}">Generic Stores Near Me</a></li>
                <li><a href="{% url 'catalogue' %}">Generic Medicine Catalogue</a></li>
                <li><a href="http://localhost:8501">Generic Medicine Recommender</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Any Queries?</h5>

            <p>Don't hesitate to ask anything you want</p>
            <!-- Newsletter Form -->
            <div class="footer-newsletter-form">
              <input type="text" name="text" value="" placeholder="Comments">
            </div>
            <div class="footer-newsletter-form">
              <form action="#" method="post">
                <input type="email" name="nl-email" value="" placeholder="Email Address">
                <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>

              </form>
            </div>

            <!-- Social Info -->
            <!-- <div class="footer-social-info">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i
                  class="fa fa-google-plus"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
                  class="fa fa-pinterest"></i></a>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copywrite-content">
            <p> JanAushadhi Portal |
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'website/js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'website/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'website/js/default-assets/active.js' %}"></script>

</body>

</html>